/**
 * Folha de estilos para o painel (dashboards)
 * Autor: Capitão Henrique / Assistente Antigravity
 * Data: 2026-06-03
 * Versão: 1.1
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*background-color: #F6F5F1;*/
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

.janela {
    display: flex;
    width: 100vw;
}

.header-left {
    width: 20%;
    height: 100vh;
    background-color: #e5e5e5;
    color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.header-left span {
    color: darkblue;
}

.header-left h1 {
    font-size: 28px;
}

.btn-nav a {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    align-items: center;
    gap: 8px
}

.btn-nav a svg {
    flex-shrink: 0;
}

.btn-nav a h3 {
    margin: 0;
}


.nestaPagina {
    background-color: rgba(21, 63, 201);
    border-radius: 15px;
}

.nestaPagina h3 {
    color: white;
}

.nestaPagina img {
    width: 36px;
    height: 36px;
    margin-top: 17px;
}

.dash {
    width: 80%;
    margin-left: 20%;
    padding: 30px;
    background-color: #e7e6e2;
    min-height: 100vh;
}

/* PAGINA DE MATERIAIS */

/* HEADER LATERAL */
.navegacao {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.btn-nav {
    transition: all 0.3s;
    width: 320px;
    height: 70px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 15px;
}

.btn-nav:hover {
    background-color: #f6f5f177;
}

.btn-nav h3 {
    font-size: 20px;
}

.btn-nav h3:visited {
    color: black;
}

.btn-nav h3:hover {
    color: black;
}

.btn-nav h3:active {
    color: black;
}


/* SECAO DE VIDEOS */
.secao-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-video {
    width: 600px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 63, 201, 0.432);
    border-radius: 25px;
}

/* .card-video button {
    width: 200px;
    height: 50px;
} */

/* SECAO CALCULADORA */
.secao-calculadora {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo-calc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteudo-calc h3 {
    text-align: center;
}

.card-calc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-calc button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(21, 63, 201, 0.432);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.card-calc button:hover {
    background-color: rgba(21, 63, 201, 0.7);
}

#resultadoIMC {
    display: none;
    margin-top: 30px;
    background-color: #F1F2F0;
    min-height: 250px;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    color: #333;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#resultadoAgua {
    display: none;
    margin-top: 30px;
    background-color: #F1F2F0;
    min-height: 250px;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    color: #333;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* SEÇÃO KPI DASHBOARD */
.balao-dash {
    display: flex;
    flex-direction: row;
    background-color: rgba(43, 234, 43, 0.292);
    color: green;
    border-radius: 50px;
    border: rgba(0, 128, 0, 0.629) 2px solid;
    width: 300px;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 25px;
    align-items: center;
}

.balaoPeso-dash {
    display: flex;
    flex-direction: row;
    background-color: rgba(21, 63, 201, 0.302);
    border-radius: 50px;
    border: darkblue 2px solid;
    width: 300px;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 25px;
    align-items: center;
}

.balaoAgua-dash {
    display: flex;
    flex-direction: row;
    background-color: rgba(21, 63, 201, 0.302);
    color: darkblue;
    border-radius: 50px;
    border: darkblue 2px solid;
    width: 250px;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 25px;
    align-items: center;
}

.secao-kpi {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.card-kpi {
    background-color: rgba(21, 63, 201, 0.429);
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    width: 300px;
}

.card-kpi h3 {
    font-weight: 400;
}

.card-kpi p {
    color: rgba(21, 63, 201);
    font-weight: bold;
}

.balaoPeso-dash img {
    width: 20px;
    height: 20px;
}

.divBaloes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.balaoPeso-dash p {
    margin-left: 5px;
}

#pesoAtual {
    font-size: 28px;
    font-weight: bold;
}

#diasRestantes {
    font-size: 28px;
    font-weight: bold;
}

#pesoProgresso {
    font-size: 28px;
    font-weight: bold;
}

#graficos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1400px;
    background-color: #F1F2F0;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

#myChartCanvas {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

#modalAlterarMeta, #modalAlterarPeso {
    display: none;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    border-radius: 5%;
    font-weight: 500;

    background-color: rgba(21, 63, 201, 0.9);
    color: white;

    position: fixed;
    top: 25%;
    left: 40%;
    z-index: 1000;
}

#overlayMeta, #overlayPeso {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.conteudoModalMeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.fecharModalMeta {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.fecharModalMeta button {
    background: none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.fecharModalMeta button:hover {
    color: #ff4d4d;
}

.conteudoModalMeta .btn-atualizar {
    background-color: #fff;
    color: rgb(21, 63, 201);
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.conteudoModalMeta .btn-atualizar:hover {
    background-color: rgb(21, 63, 201);
    color: #fff;
    outline: 2px solid #fff;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

/* SEÇÃO DE FÓRUM */
.secao-forum {
    display: flex;
    flex-direction: column;
}

.secao-forum p {
    margin-top: -15px;
    width: 700px;
}

.secao-forum button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(21, 63, 201, 0.432);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.secao-forum button:hover {
    background-color: rgba(21, 63, 201, 0.7);
}

.secao-forum hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

#publicacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.publicacao {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: 200px;
    width: 700px;
    background-color: #F1F2F0;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.publicacao hr {
    margin: 10px 0;
    width: 100%;
    border: none;
    border-top: 2px solid #7a7a7a;
}

#cards_influenciadores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

#card_influenciador {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    background-color: rgba(21, 63, 201, 0.429);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#card_influenciador img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

#card_influenciador button {
    width: 120px;
    height: 40px;
    background-color: rgb(50, 29, 169);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#card_influenciador button:hover {
    background-color: rgb(75, 45, 220);
}

.card-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 15px;
}

.btn-favoritado {
    background-color: #ff4d4d !important;
}

.btn-favoritado:hover {
    background-color: #ff3333 !important;
}