@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /*background-color: #F6F5F1;*/
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #E7E5DF;
  background-color: #f6f5f1;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: darkblue;
}

.header span {
  color: darkblue;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #666666;
}

.titulo {
  color: #1e1e1e;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* PRIMEIRA SECAO */
.primeira-secao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* width: 100%; */
  align-items: center;
  border-bottom: 2px solid #E7E5DF;
  background-color: #DCE8E1;
}

.primeira-secao-conteudo {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  width: 600px;
  /*margin-right: 200px;*/
  margin-left: 50px;
  margin-bottom: 200px;
}

.primeira-secao-balao {
  border-radius: 25px;
  background-color: rgba(21, 63, 201, 0.548);
  width: 300px;
  margin-bottom: -30px;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.primeira-secao-conteudo h1 {
  font-size: 62px;
}

#span-logica {
  color: rgb(21, 63, 201);
}

.primeira-secao-conteudo p {
  font-size: 22px;
  color: #666666;
  margin-top: -20px;
}

.primeira-secao-botoes {
  flex-direction: row;
  justify-content: space-between;
}

.primeira-secao-botoes button {
  width: 250px;
  height: 75px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

#botao1 {
  background-color: rgb(21, 63, 201);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#botao2 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(21, 63, 201);
  border-color: #6666661e;
}

.primeira-secao {
  height: 100vh;
  background-image: url('../assets/imgs/background-hero-section.png');
  /* sua imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.primeira-secao-imagem img {
  margin-top: 100px;
  width: 900px;
  height: 900px;
  margin-right: -100px;
}

.primeira-secao::after {
  border-bottom: 2px solid #E7E5DF;
}

/* SEÇÃO PROBLEMAS */

.secao-problema {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F5F1;
  margin-top: 100px;
  margin-bottom: 100px;
}

.secao-problema h1 {
  margin-top: 60px;
  font-size: 48px;
}

.secao-problema p {
  font-size: 22px;
  color: #666666;
  margin-top: -20px;
  text-align: center;
  width: 900px;
}

.container-problema-cards {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-evenly;
  margin-top: 60px;
}

.problema-card h1 {
  font-size: 28px;
}

.problema-card p {
  width: 300px;
  font-size: 22px;
  text-align: left;
}

.problema-card {
  background-color: #ffffff;
  border: #6666661e solid 2px;
  border-radius: 15px;
  width: 300px;
  padding: 25px;
  padding-left: 60px;
  text-align: left;
  transition: all 0.5s;
}

.problema-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 20px #6666668a;
  border-color: rgba(21, 63, 201, 0.548);
}

.card-problema-icon {
  width: 80px;
  height: 80px;
  background-color: #d8d7e7bb;
  border-radius: 15px;
  border: rgba(21, 63, 201, 0.548) 2px solid;
  margin-bottom: -30px;
  margin-top: 15px;
}

.card-problema-icon img {
  width: 80px;
  height: 80px;
}

/* SEÇÃO DE MITOS CLÁSSICOS */
.secao-mitos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.secao-mitos h1 {
  margin-top: 50px;
  font-size: 48px;
}

.secao-mitos p {
  margin-top: -20px;
  color: #666666;
  margin-bottom: 70px;
}

.grid-mitos-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.mitos-card {
  background-color: #E7E5DF;
  padding: 20px;
  border-radius: 25px;
  border-left: 6px solid transparent;
  transition: all 0.4s;
}

.mitos-card:hover {
  transform: translateY(-3px);
  border-left: 6px  solid rgb(21, 63, 201);
}

.mitos-card p {
  margin-top: 5px;
}

.mitos-balao {
  border-radius: 25px;
  background-color: rgba(21, 63, 201, 0.548);
  width: 70px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* SEÇãO DE FUNDAMENTOS */

.secao-fundamentos {
  background-color: rgba(21, 63, 201, 0.548);
}

.fundamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

.fundamentos h1 {
  margin-top: 50px;
  font-size: 48px;
}

.fundamentos p {
  margin-top: -20px;
  margin-bottom: 50px;
}

.row-cards-fundamentos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.cards-fundamentos {
  background-color: #e5e5e559;
  border-radius: 25px;
  height: 300px;
  width: 250px;
  padding: 30px;
  border: 1px solid #e5e5e5;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.cards-fundamentos:hover {
  background-color: #6666665e;
  transform: translateY(-2px);
}

.icon-fundamentos {
  width: 75px;
  height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center ;
  background-color: rgba(21, 63, 201, 0.548);
  border-radius: 100%;
}

.icon-fundamentos img {
  width: 50px;
  height: 50px;
}

/* SEÇAO DE HISTORIA */

.secao-historia {
  display: flex;
  flex-direction: column;
}

.secao-historia-full {
  height: 100%;
  background-image: url('../assets/imgs/background-historia-section.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.secao-historia-h1 {
  font-size: 48px;
  margin-top: 100px;
  text-align: center;
}

.secao-historia-p {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 100px;
  font-size: 20px;
}

.historia-div {
  display: flex;
  flex-direction: row;
}

.historia-conteudo {
  display: flex;
  flex-direction: row;
  width: 1000px;
}

.historia-texto p {
  font-size: 20px;
}

.historia-texto h2 {
  font-size: 30px;
}

.historia-resultado {
  background-color: #E7E5DF;
  padding: 30px;
  padding-left: 30px;
  border-radius: 25px;
  border: solid 2px #6666665e;
}

.historia-timeline {
  position: relative;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.historia-timeline::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: rgb(21, 63, 201);
}

.timeline-card {
  width: 750px;
  background-color: #e5e5e5;
  border-radius: 25px;
  position: relative;
  margin-bottom: 40px;
  padding: 30px;
}

.dot {
  position: absolute;
  left: -25px;
  top: 20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(21, 63, 201);
}


/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/background-login.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(13, 42, 138);
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid rgba(21, 63, 201, 0.548);
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: rgb(21, 63, 201);
  width: 200px;
  height: 50px;
  align-self: center;
  margin-bottom: 10px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}